h1{
   color: green;
   background-color:black;
   font-family: sans-serif;

}
p{
   color: black;
font-family: 'Times New Roman', Times, serif
}
th{
   font-weight: 800;
   background-color: red;
}
table{
   font-family: Arial, Helvetica, sans-serif;
   border-width: 1px;
   border-style: dashed;
   border-color: red;
}